<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/game/join" th:action="@{'/game/join'(userid=${currentPlayer.id})}" method="post">
        <label for="gameid">Pour rejoindre une partie entrez l'id</label>
        <input type="number " id="gameid" name="gameid">
        <input type="submit">

    </form>
    <form action="/game/create" th:action="@{'/game/create'(userid=${currentPlayer.id})}" method="post">
        <label for="createGame">Cree une partie</label>
        <input name="createGame" id="createGame" type="submit">
    </form>
</body>
</html>