<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/favicon.png}">
    <title>Les 7 sceaux en ligne</title>

    <!--Template based on URL below-->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Place your stylesheet here-->
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/snow.js}"></script>
</head>
<body style="background-color: #820009; height:100%;">
<div class="container">
        <div class="row">
            <div class="col mt-4 text-center ">
                <img class="m-auto" style="height: 200px; width: 200px; display: block;" th:src="@{/img/logo9.svg}" alt="">

            </div>
        </div>

        <div class="col-12 card-body text-center">

    <form action="/game/join" th:action="@{'/game/join'(userid=${currentPlayer.id})}" method="post">
        <label class="text-white mt-2 " for="gameid">Pour rejoindre une partie,<br>entrez l'identifiant de la game</label><br>
        <input type="number"  class="form-control-md" id="gameid" name="gameid">
        <input type="submit" class="btn btn-white btn-warning" value="Jouer">

    </form>	
    <h3>OU</h3>
    <form action="/game/create" th:action="@{'/game/create'(userid=${currentPlayer.id})}" method="post">
        <label class="text-white mt-2" for="createGame"></label>
        <input class="btn btn-white btn-outline-warning" name="createGame" value="Créer un partie" id="createGame" type="submit">
    </form>
    
    </div>
    </div>
</body>
</html>