<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choisi tes tokens</title>
</head>
<body>
    <div th:each="card : ${currentPlayer.card }">
        <span th:text="|${card.color} - ${card.value}|"></span>
    </div>
    <form action="/game/join" th:action="@{'/game/'+${gameid}+'/taketoken'(userid=${currentPlayer.id})}" method="post">

            <label for="plis">Choisissez le nombre de plis</label>
            <input type="number" id="plis" name="plis">
            <input type="submit">
        </form>
</body>
</html>